<footer class="footer">
    <div class="footer-container">

        <div class="footer-col">
            <h3>Corazón Joel de Jesús</h3>
            <p>Protegiendo a la Infancias Vulnerables</p>
        </div>

        <div class="footer-col">
            <h4>Contacto</h4>
            <ul>
                <li>Correo: <a href="mailto: CORREO@ejemplo">Correo@gmail.com</a></li> //mailto abre el programa de
                correo del ususario
                <li>Telefono: <a href="tel:+52">3782212</a></li> //tel intenta abrir la app de llamadas
            </ul>
        </div>

        <div class="footer-col">
            <h4>¡Siguenos!</h4>
            <ul class="footer-social">
                <li><a href="https://www.instagram.com/corazondejoeldejesus?igsh=MWxtZW04dzVzdWdwNw%3D%3D&utm_source=qr"
                        target="_blank" rel="noopener">Instagram</a></li> <!--target abre el link en pesataña nueva
                y rel es una medida de seguridad estandar-->
                <li><a href="https://www.facebook.com/share/1DMrb5U9Pm/?mibextid=wwXIfr" target="_blank"
                        rel="noopener">Facebook</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>&copy;2026 Corazón Joel de Jes´su. Todos los derechos reservados</p>
        </div>

    </div>
</footer>