<header class="header">
    <div class="header-container">
        <div class="logo">
            <h1>Corazon Joel de Jesus</h1>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="Main/index.html">Inicio</a></li>
                <li><a href="Main/quienes-somos.html">Quienes somos</a></li>
                <li><a href="Main/proyecto.html">Arrulladoras</a></li>
                <li><a href="Main/registro.html">Quiero Participar</a></li>
            </ul>
        </nav>
    </div>

</header>